pre {
    border-radius: 10px;
    padding: .3rem;
    overflow-x: auto;
    width: 50%;
    margin-bottom: 1.5rem;
    background-color: #bbb;
}

code {
    font-family: Consolas, Monaco, monospace;
}
.language-python, .language-html {
    background-color: rgb(240, 234, 234);
}

.code-block {
    position: relative;
    margin-bottom: 1.5rem;
}

.copy-btn {
    position: absolute;
    top: 10px;
    right: 50%;

    margin-top: 5px;
    margin-right: 10px;
    
    padding: 6px 12px;

    border-radius: 6px;

    cursor: pointer;

    font-size: 0.8rem;
}

.copy-btn:hover {
    opacity: 0.9;
}