pre {
    border-radius: 10px;
    padding: .3rem;
    overflow-x: auto;
    margin-bottom: 1.5rem;
    background-color: rgb(170, 206, 206);
}

code {
    font-family: Consolas, Monaco, monospace;

}