<!-- templates/includes/blog_panel.html -->
 {% load blog_tags %}
 {% if series %}
    <h2>SERIES DETECTED</h2>
    <div class="card mb-3">
        <div class="card-header">{{ series }}</div>
        <ol class="list-group-numbered list-group-flush">
            {% for p in posts %}
                <li class="list-group-item">
                    {% if p.post.slug == post.slug %}
                        <b>
                    {% endif %}
                    <a href="{% url 'post_detail2' slug=p.post.slug series=series.slug %}">
                        {{ p.post.title }}
                    </a>
                    {% if p.post.slug == post.slug %}
                        </b>
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    </div>
{% endif %}
{% if category %}
    <h2> CAT:{{category}}</h2>
{% endif %}
{% recent_posts 5 %}