<!-- templates/includes/categories.html -->
<div class="card mb-3">
    <div class="card-header">Categories</div>
    <ul class="list-group-unnumbered list-group-flush">
        {% for c in categories %}
            <li class="list-group-item">
                <a href="{% url 'category_detail' id=c.id %}">
                    {{ c.name }}
                </a>
                {% if c.children.exists %}
                    {% include "includes/categories.html" with categories=c.children.all %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>