<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

<script>
    hljs.highlightAll();
</script>

<script>

document.addEventListener('DOMContentLoaded', function() {

    document.querySelectorAll('pre').forEach(pre => {

        const wrapper = document.createElement('div');
        wrapper.classList.add('code-block');

        pre.parentNode.insertBefore(wrapper, pre);

        wrapper.appendChild(pre);

        const button = document.createElement('button');

        button.innerText = 'Copy';
        button.classList.add('copy-btn');
        button.classList.add('btn');
        button.classList.add('btn-outline-dark');
        button.classList.add('rounded-pill');
        button.classList.add('px-4');

        wrapper.appendChild(button);

        button.addEventListener('click', async function() {

            const code = pre.innerText;

            await navigator.clipboard.writeText(code);

            button.innerText = 'Copied!';

            setTimeout(() => {
                button.innerText = 'Copy';
            }, 2000);

        });

    });

});

</script>