<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">SBS</a>
        <div class="navbar-nav gap-3">
            <a class="nav-link d-inline text-white" href="{% url 'home' %}">Home</a>
            <a class="nav-link d-inline text-white" href="{% url 'post_list' %}">Blog</a>
            <a class="nav-link d-inline text-white" href="{% url 'contact' %}">Contact</a>
            {% if user.is_authenticated %}
                <a class="nav-link d-inline text-white" href="{% url 'member' %}">Member</a>

                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-sm shadow" 
                    onclick="return confirm('Are you sure you want to log out?');">
                        Logout
                    </button>
                </form>
            {% else %}
                <a class="nav-link d-inline text-white" href="{% url 'login' %}">Login</a>
                <a class="nav-link d-inline text-white" href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </div>
</nav>