{% extends "base.html" %}
{% load blog_tags %}

{% block title %}
{{ title }}
{% endblock %}
{% block content1 %}
<div class="container-fluid">

    <h1>Search results</h1>
    <h2>Results for:{{ query }}</h2>
    {% if post_results %}
        <h3>Posts</h3>
        {% for r in post_results %}
            <a href="{% url 'post_detail' r.slug %}">
            <h5 class="card-title">{{ r.title }}</h5></a>
        {% endfor %}
    {% endif %}
   {% if page_results %}
        <h3>Pages</h3>
        {% for r in page_results %}
            <a href="{% url 'page_detail' r.slug %}">
            <h5 class="card-title">{{ r.title }}</h5></a>
        {% endfor %}
    {% endif %}

    {% if not post_results and not page_results %}
        <h3>Nothing found</h3>
    {% endif %}
</div>
{% endblock %}
{% block aside %}
    {% recent_posts 5 %}
{% endblock %}
{% block left %}
    {% searchbox query %}
    {% list_series %}
{% endblock %}