{% extends "base.html" %}
{% load blog_tags %}

{% block title %}
{{ title }}
{% endblock %}
{% block content1 %}
<div class="container-fluid">

    <h1>Search results</h1>
    <h2>Results for:{{ query }}</h2>
    {% if results %}
        {% for r in results %}
            <a href="{% url 'post_detail' r.slug %}">
            <h5 class="card-title">{{ r.title }}</h5></a>
        {% endfor %}
    {% else %}
        <h3>Nothing found</h3>
    {% endif %}
</div>
{% endblock %}
{% block aside %}
    {% recent_posts 5 %}
{% endblock %}
{% block left %}
    {% searchbox %}
    {% list_series %}
{% endblock %}