{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Site{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    {% include "includes/highlight.html" %}
    <link rel="stylesheet" href="{% static "css/site.css" %}">
</head>
<body>
{% block header %}
{% include "includes/header.html" %}
{% endblock header %}
{% include "includes/flash.html" %}
{% block content %}
    {% if content1 %}
        <div class="container-fluid">
            <div class="row">
                <aside class="col-md-2">{% block left %}No Left{% endblock %}</aside>
                <main class="col-md-8">
                    {% block content1 %}{% endblock %}
                </main>
                <aside class="col-md-2">{% block aside %}No Right{% endblock %}</aside>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% include "includes/cookies.html" %}
{% include "includes/footer.html" %}
{% include "includes/bottom.html" %}
