{% include "includes/top.html" %}
{% load cookie_consent_tags %}

{% block header %}
{% include "includes/header.html" %}
{% endblock header %}
{% block content %}
{% endblock %}
{% not_accepted_or_declined_cookie_groups request as cookie_groups %}

{% if cookie_groups %}
    <div class="position-fixed bottom-0 start-0 end-0 bg-dark text-white p-3">

        <div class="container d-flex justify-content-between align-items-center">

            <div>
                This site uses cookies.
            </div>

            <div>

            <form method="post"
                  action="{% url 'cookie_consent:cookie_consent_accept_all' %}">
                {% csrf_token %}
                <input type="hidden"
                       name="next"
                       value="{{ request.path }}">
                <button type="submit"
                        class="btn btn-primary btn-sm">
                    Accept
                </button>
            </form>
            <form method="post"
                  action="{% url 'cookie_consent:cookie_consent_decline_all' %}">
                {% csrf_token %}
                <input type="hidden"
                       name="next"
                       value="{{ request.path }}">
                <button type="submit"
                        class="btn btn-primary btn-sm">
                    Decline
                </button>
            </form>

            </div>

        </div>

    </div>
{% endif %}

{% include "includes/footer.html" %}
{% include "includes/bottom.html" %}
